<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
         <div data-id="consumers_subscription" data-view="List" data-unordered="false" data-title="Subscription" data-moreinfo="# of streams per consumer"></div>
       </li>
         <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
         <div data-id="consumers_catalogue" data-view="List" data-unordered="false" data-title="Catalogue" data-moreinfo="# of streams per consumer"></div>
       </li>
         <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
         <div data-id="consumers_locker" data-view="List" data-unordered="false" data-title="Locker" data-moreinfo="# of streams per consumer"></div>
       </li>
 
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="name" data-view="Text"></div>
    </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="artwork" data-view="Image" data-title="Artwork"></div>
    </li>
  </ul>
</div>
