<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="name" data-view="Text"></div>
    </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="artwork" data-view="Image" data-title="Artwork"></div>
      </li>

         <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
         <div data-id="ttfb" data-view="Meter" data-title="Cached TTFB from EU" data-min="0" data-max="2000"></div>
         </li>
         <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="hourly_streams" data-view="Meter" data-title="Hourly Streams" data-min="0" data-max="200"></div>
        </li>
 
  </ul>
</div>
